.App {
  height: 100vh;
  width: 100vw;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.grid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 32%;
  height: 33%;
  border: 1px solid #333;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status, .reset {
  position: absolute;
  font-size: 25px;
}

.status {
  left: 0;
  top: 15%;
}

.reset {
  right: 10%;
  bottom: 11%;
}